<% include ./partials/header.ejs %>
<div class="bg-img w-full h-screen flex items-center justify-between">
  <div class="w-1/2 h-full relative">
    <img class="absolute z-0 w-full h-full object-cover" src="/images/bg.jpeg" alt="background-img">
    <div class="relative z-50 h-screen p-10">
      <img class="w-16" src="/images/logo-bg-removed.png" alt="">
      <h1 class="text-5xl font-bold absolute px-11 text-white font-[gilroy] top-[43%] left-0">Welcome to <span class="text-[#ef1414]">Pin</span>terest!👋</h1>
    </div>
  </div>
  <div class="w-1/2 flex flex-col h-full items-center justify-center">
    <div>
      <h1 class="text-3xl font-semibold">Login</h1>
      <p>Welcome back! Please login to your account.</p>
    </div>
  </div>
  </div>
</div>
<% include ./partials/footer.ejs %>
  