<% include ./partials/header.ejs %>
<div class="bg-img w-full h-screen flex items-center justify-between">
  <div class="w-[45%] flex flex-col h-full py-10 px-32">
    <div class="w-[83%] relative">
      <div class="absolute left-1/2 -translate-x-1/2">
        <img width="60px" src="/images/logo-bg-removed.png" alt="" />
      </div>
      <div class="mt-20">
        <h1 class="text-3xl font-bold tracking-tight">Sign Up</h1>
        <p class="mt-2 text-zinc-500">
          Create your account.
        </p>
        <form class="flex flex-col" action="/register" method="post">
          <p class="mt-4 font-medium mb-2">Username</p>
          <input
            class="bg-zinc-100 w-full border-2 px-4 py-2 border-zinc-200 rounded-md"
            type="text"
            name="username"
            placeholder="username"
          />
          <p class="mt-4 font-medium mb-2">Email</p>
          <input
            class="bg-zinc-100 w-full border-2 px-4 py-2 border-zinc-200 rounded-md"
            type="email"
            name="email"
            placeholder="name@example.com"
          />
          <p class="mt-4 font-medium mb-2">Password</p>
          <input
            class="bg-zinc-100 w-full border-2 px-4 py-2 border-zinc-200 rounded-md"
            type="password"
            name="password"
            placeholder="********"
          />
          <input
            class="bg-[#EC1B31] hover:bg-[#ff2b41] transition-all duration-300 w-full py-2 text-lg rounded-md text-white font-bold mt-6"
            type="submit"
            value="Create an account"
          />
        </form>
        <p
          class="mt-8 w-full text-zinc-500 text-center leading-5 tracking-tight"
        >
          By continuing, you agree to Pinterest's <br />
          <a href="" class="text-black font-semibold">Terms of Service</a>
          and acknowledge you've read <br />
          our
          <a href="" class="text-black font-semibold">Privacy Policy.</a>
          <a href="" class="text-black font-semibold">Notice at collection.</a>
        </p>

        <hr class="w-full mt-4" />
        <a href="/" class="font-semibold block mt-2 w-full text-center"
          >Already on Pinterest? Log in</a
        >
      </div>
    </div>
  </div>
  <div class="w-[55%] h-full relative overflow-hidden">
    <img
      class="absolute z-0 w-full h-full object-cover object-center scale-[1.2] rotate-[15deg]"
      src="/images/login-bg3.png"
      alt="background-img"
    />
    <div class="absolute right-0 z-50 h-screen px-6 py-4">
      <img class="w-16" src="/images/logo-bg-removed.png" alt="" />
      <!-- <h1 class="text-5xl font-bold absolute px-11 text-zinc-900 font-[gilroy] top-[20%] left-0">Welcome <span class="text-red-600"> to Pinterest!👋</span></h1> -->
    </div>
  </div>
</div>
<% include ./partials/footer.ejs %>
